<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ produto["nome"] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container product-details">
    <h1>{{ produto["nome"] }}</h1>

    <p>Preço: <strong>R$ {{ "%.2f" | format(produto["preco"]) }}</strong></p>

    <a class="link-back" href="{{ url_for('produtos_paginados') }}">Voltar</a>
</div>

</body>
</html>
